# Database Configuration
DATABASE_URL=

# OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Security
JWT_SECRET=
FRONTEND_URL=
REDIS_DB_KEY=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
